# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Test cache
.pytest_cache/

# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Others
*.sqlite3